@model CalendarWeb.Models.UserList

@{
    ViewData["Title"] = "AddUser";
}

<style>
    body {
        background: url("https://th.bing.com/th/id/R.f9e29df10233b77a439e6ac7471bd199?rik=%2bP4NnQ5vw45yig&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fwc1681950.jpg&ehk=WdqzqI%2bdLDnqDLGIs5BT3IywUmXDn4ZFi%2bTet%2fYeg9k%3d&risl=&pid=ImgRaw&r=0");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    .navbar {
        display: none;
    }

    .footer {
        display: none;
    }
</style>


<div class="container mt-5"></div>
<h1>AddUser</h1>

<h4>UserList</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label" hidden></label>
                <input asp-for="UserId" class="form-control" hidden />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserPassword" class="control-label"></label>
                <input asp-for="UserPassword" type="password" class="form-control" />
                <span asp-validation-for="UserPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserRole" class="control-label"></label>
                <input asp-for="UserRole" class="form-control" />
                <span asp-validation-for="UserRole" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <button class="btn btn-primary mt-2">
        <a style="color:white; text-decoration:none;" class="mt-2" asp-action="Index" asp-controller="Home">Back </a>
    </button>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
